.settings-item-options{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   background-color: rgb(235, 235, 235);
   border-radius: 20px;
   margin-top: 10px;

}
.settings-item-option-2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settings-options{
  display: flex;
  flex-direction: column;
  gap: 20px;
}