.comment-list {
  min-width: 280px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  max-height: 450px;
  box-sizing: border-box;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding: 0 20px 0 0;
  margin: 0 0 20px 0;
}
.comment-avatar,
.comment-avatar-fallback {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.likes-avatar-fallback {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.comment-avatar-fallback,
.likes-avatar-fallback {
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 245, 255);
}
.comment {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.comment-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comment-1-1 {
  max-width: 250px;
  word-break: break-word; /* breaks long words */
  overflow-wrap: break-word; /* fallback for older browsers */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--bcgcolor);
  padding: 20px;
  border-radius: 30px;
  width: 450px;
}

.comment-input-box {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 10px;
  border-radius: 25px;
  padding: 5px 70px 5px 5px; /* space for button inside */
  box-sizing: border-box;
}
.comment-1-1 p:nth-of-type(1) {
  font-weight: 700;
  color: var(--namehead);
}
.comment-1-1 p:nth-of-type(2) {
  font-size: 13px;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.comment-1-1 p:nth-of-type(3) {
  font-size: 10px;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.comment-input {
  flex: 1;
  box-shadow: var(--boxshadowmain);
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
  outline: none;
  font-size: 14px;
  padding: 8px 10px;
  resize: none;
  background-color: var(--bcgcolor);
  max-height: 120px;
  scrollbar-width: none;
  overflow-y: auto;
  line-height: 1.4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-submit-btn {
  position: absolute;
  right: 10px;
  bottom: 5px;
  padding: 6px 12px;
  border: none;
  background: var(--namehead);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.comment-submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.comment-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
}
.comment-heading b {
  color: var(--namehead);
}
.comment-list::-webkit-scrollbar {
  width: 10px; /* thin scrollbar */
}

.comment-list::-webkit-scrollbar-button {
  display: none; /* remove arrows */
}

.comment-list::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 8px;
}

.comment-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
/* Chrome, Edge, Safari */
.comment-input::-webkit-scrollbar {
  width: 6px;
}

.comment-input::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 8px;
}

.comment-input::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

.comment-input::-webkit-scrollbar-button {
  display: none; /* remove arrows */
}
@media (min-width: 0px) and (max-width: 466px) {
  .modal {
    width: 314px !important;
    overflow: scroll;
  }
}
@media (min-width: 466px) and (max-width: 770px) {
  .modal {
    width: 400px !important;
    overflow: scroll;
  }
}
