.like-card {
  display: flex;
  gap: 12px;
  width: 200px;
  padding: 10px;
  height: 60px;
  border-radius: 30px;
  background: #ffffff !important;
  border: 1px solid rgb(240, 240, 240);
  align-items: center;
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}
.like-names {
  font-size: 10px;
}
.like-names div:nth-of-type(1) {
  font-weight: 800;
  color: var(--namehead);
}
.likes-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 fraction columns */
  gap: 12px 12px; /* row-gap & column-gap */
  height: 500px;
  padding: 10px 0;
}
