.saved-posts-container {
  min-width: 850px;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.saved-posts-header {
}

.saved-posts-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.loading-text,
.end-text {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #555;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.grid-item {
  position: relative;
  cursor: pointer;
}

.grid-item img {
  border-radius: 30px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: opacity 0.2s ease-in-out;
}

.grid-item:hover img {
  opacity: 0.9;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 0 0 6px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  overflow-y: auto; /* enable vertical scroll */
  overflow-x: hidden; /* hide horizontal scroll */
  scroll-behavior: smooth;
  max-width: 590px;
  width: 100%;
  height: 500px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.modal-caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modal-author {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.modal-tags span {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
  color: #0073e6;
}

.modal-date {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 465px) {
  .saved-posts-container {
    width: 100%;
    min-width: 280px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .grid-item {
    width: fit-content;
  }
  .grid-item img {
    width: 100%;
    height: 100%;
  }
  .feed-image {
    min-width: 280px;
    max-width: 400px;
    min-height: 280px;
  }
  .modal-content {
    min-width: 250px;
    max-width: 400px;
    display: flex;
    height: 500px;
    border-radius: 30px;
    overflow: scroll;
    justify-content: flex-start;
    background-color: white;
  }
  .feed-container-1 {
    justify-content: flex-start;
  }
  .feed-container-4 {
    background-color: white;
  }
}
