.login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bcgcolor);
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  width: 391px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-light-grey);
  padding: 10px;
  height: 50px;
  padding: 0px 40px 0px 15px;

  border: 1px solid #ccc;
  border-radius: 15px;
}
.form-group input:focus {
  border-color: blue;
  outline: none;
}

.password-group {
  position: relative;
}
.logo-login p:nth-of-type(1) {
  color: var(--namehead);
  font-size: 60px;
  margin: 0px;
  font-weight: 800;
}
.logo-login span:nth-of-type(1) {
  color: var(--color-green);
  font-size: 70px;
  margin: 0px;
  font-weight: 800;
}
.logo-login p:nth-of-type(2) {
  font-size: 25px;
  margin: 0px;
  font-weight: 500;
  font-family: var(--font-main);
  opacity: 0.6;
}
.eye-button {
  position: absolute;
  right: 10px;
  top: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: var(--font-main) !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s; /* removes yellow bg */
}

/* If you want to remove the highlight completely */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgb(245, 245, 245) inset !important;
}
.login-button {
  width: 100%;
  padding: 10px;
  background-color: #205b99;
  color: white;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}
.register-button {
  width: 100%;
  padding: 10px;
  background-color: #74c47b;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 30px 0 0 0;
  font-size: 16px;
  cursor: pointer;
}
.placing-login {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}
.login-button:hover {
  background-color: #0052a3;
}

.link-buttons {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.text-button {
  background: none;
  border: none;
  color: #205b99;
  cursor: pointer;
  font-size: 14px;
}

.text-button:hover {
  text-decoration: underline;
}
.error-text {
  color: red;
}
.logo-png {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media (min-width: 0px) and (max-width: 465px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 40px;
    height: 90vh;
  }
  .login-box {
    width: 300px;
  }
  .logo-login p:nth-of-type(2) {
    font-size: 18px;
  }
  .logo-png {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 466px) and (max-width: 770px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    border-radius: 40px;
    height: 90vh;
  }
  .login-box {
    width: 400px;
  }
  .logo-login p:nth-of-type(2) {
    font-size: 20px;
  }
  .form-group input {
    height: 71px;
    font-size: 18px;
  }

  .login-button {
    font-size: 20px;
    height: 60px;
  }
  .eye-button svg {
    width: 25px;
    height: 95px;
  }
  .register-button {
    width: 51%;
    font-size: 18px;
    height: 60px;
  }
  .text-button {
    font-size: 22px;
  }
  .logo-login p:nth-of-type(1) {
    font-size: 73px;
  }
}
@media (min-width: 771px) and (max-width: 1030px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    border-radius: 40px;
    height: 90vh;
  }
  .login-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
  }
  .form-group input {
    height: 71px;
    font-size: 20px;
  }
  .logo-login p:nth-of-type(2) {
    font-size: 33px;
  }
  .login-button {
    font-size: 20px;
    height: 60px;
  }
  .eye-button svg {
    width: 25px;
    height: 95px;
  }
  .register-button {
    width: 51%;
    font-size: 22px;
    height: 60px;
  }
  .text-button {
    font-size: 22px;
  }
  .logo-login p:nth-of-type(1) {
    font-size: 73px;
  }
}
