.search-page {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding: 20px;
  min-height: 90vh;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
}
.search-tabs {
  display: flex;
  gap: 20px;
}
.search-heading span {
  color: var(--namehead);
  font-weight: 700;
}
.search-btn-category {
  background: #ffffff;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.search-btn-category:hover {
  background: #f1f1f1;
  border-color: #999;
}
.search-btn-category:active {
  background: #e5e5e5;
}
.search-cont-2 {
  background-color: var(--bcgcolor);
  width: 100%;
  display: flex;
  justify-content: center;
}
.clicked-active {
  background-color: #efefef;
}
.search-res-people {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 16px; /* space between cards */
}
.search-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.result-card {
  width: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
  border-radius: 30px;
  outline: 1px solid #eaeaea;
}
.result-card-body div {
  font-size: 13px;
  color: var(--namehead);
}
.homecontainer-22 {
  margin: 10px;
  width: 569px;
  min-height: 100vh;
  border-radius: 10px;
  padding: 10px;
}
.feed-image-1 {
  width: 575px;
  height: 500px;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 465px) {
  .search-res-people {
    grid-template-columns: repeat(2, 1fr);
  }
  .result-card {
    width: 132px;
  }

  .search-page {
    width: 350px;
  }
  .search-tabs {
    gap: 5px;
  }
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feed-image-1 {
    width: 308px;
    height: 436px;
    object-fit: cover;
  }
  .homecontainer-22 {
    width: 310px;
  }
}
@media (min-width: 466px) and (max-width: 770px) {
  .search-res-people {
    grid-template-columns: repeat(2, 1fr);
  }
  .result-card {
    width: 132px;
  }

  .search-page {
    width: 400px;
  }
  .search-tabs {
    gap: 5px;
  }
  .search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feed-image-1 {
    width: 378px;
    height: 436px;
    object-fit: cover;
  }
  .homecontainer-22 {
    width: 400px;
  }
}
@media (min-width: 771px) and (max-width: 1030px) {
  .feed-image-1 {
    width: 480px;
  }
}
